@import '../../variables';

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event__name {
  margin-right: 15px;
}

.event__delete-button {
  padding: 0 !important;
  opacity: .5;

  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  .icon {
    font-size: 24px;
  }
}
