@import '../../variables';

.event {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.event__name {
  margin-right: 10px;
}

.event__delete-button {
  height: 23.33px;
  width: 23.33px;
  padding: 0;
  border: 0;
  opacity: .5;
  background: transparent url('../../assets/x.svg') no-repeat center;
  background-size: 100% 100%;

  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}
